$header-font : 'Bebas Neue', Arial, sans-serif;
$accent-color: #61dafb;
$dark-color: #000;
$light-color: #fff;
$background-color: #eee;

//Webpack export
:export {
    accentcolor: $accent-color;
    darkcolor: $dark-color;
    lightcolor: $light-color;
    backgroundcolor: $background-color;
  }